body {
  background: url("https://user-images.githubusercontent.com/41479637/132156940-ae600677-a3fd-4484-a3e8-b3f8ddafc185.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: 100%, 100%, cover;
  background-color: #000;

}
//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.85;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.85;
}
//菜单栏的透明度设置
.header-inner {
  opacity: 0.85;
}
//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.85;
}
.byline {
    display: block;
    text-align: center
    }
.calibre3 {
    display: block;
    font-weight: bold;
    margin: 0
    }
.calibre4 {
    display: block;
    margin: 0 0 1em 1em
    }
.calibre5 {
    display: block;
    margin: 0 0 0 1em
    }
.message {
    display: block;
    text-align: center;
    margin: 1em 0
    }
h1{text-align:center;}
h2{text-align:center;}
.site-title {
    font-family: "Times New Roman","华文新魏","华文楷体",serif;
}
.post-title {
    font-family: "Times New Roman","华文楷体","华文仿宋",serif;
}
.site-author-name
{    font-family: "Times New Roman","华文新魏","华文楷体",serif;
}
.site-author-image {
content:url(../uploads/Sephiroth.gif);
}